body {
    background-color: black;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button { 
    background-color: rgb(51, 5, 5);
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", sans-serif;
    height: 35px;
    width: 200px;
    margin: 10px;
    font-size: medium;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

img {
    max-width: 90%;
}

main {
    text-align: center;
    max-width: 90%;
}
